.drone_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.first_container {
  margin: 
  4rem 3rem;
}
.second_container {
  margin: 
  4rem 3rem;
}
.third_container {
  margin: 
  4rem 3rem;
}
.fourth_container {
  margin: 
  4rem 3rem;
}

.container_image img {
  max-width: 100%;
  max-height: 100%;
}
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 74px;
  grid-row-gap: 120px;
}
.features_info {
  display: flex;
}
.features_info .id {
  border-radius: 50%;
  padding: 22px;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #4c8700;
  background: rgba(76, 135, 0, 0.8);
  flex-direction: column;
  justify-content: center;
}
.id {
  margin-right: 30px;
}

.information {
  display: flex;
  column-gap: 98px;
}
.aboutInfo {
  width: 68vw;
  padding: 8rem;
  /* padding: 14rem; */
}
.aboutPara {
  color: #fff;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  letter-spacing: 3px;
}
.aboutDrone {
  color: #fff;
  font-size: 20px;
  padding-top: 16px;
}
.image_container h4 {
  color: #8bc53f;
  font-size: 20px;
}
.image_container {
  background: url("../components/Drone/assets/bgFrame.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 40vh;

}

.droneSpace {
  height: 400px;
}
.offer_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.offer_info h1{
font-size:2rem ;
}
.bookNow {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #4c8700;
  color: #fff;
  border: transparent;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 136%;
}

/* @media screen and (max-width: 1000px){
    .servicesTitle{
      flex-direction: column-reverse;
      row-gap: 2vh;
    }
    .poster{
      display: none;
    }
    .titleDescp{
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .bgPara{
      text-align: center;
      width: 70vw;
    }
    .bgimage-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .reversal{
      flex-direction: column !important;
    }
  } */
  .info h3 {
    font-size: 1rem; /* Set the initial font size for h3 */
  }
  @media screen and (max-width:1500px){
    .poster {
display: none;    }
  }
  @media screen and (max-width: 1180px) {
    .info h3 {
      font-size: 0.9rem; /* Decrease font size for smaller screens */
    }
  }

@media screen and (max-width: 1000px) {
  
  .offer_info #para{
    display: flex;
    align-items: center;
  }
  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
  }
  .aboutInfo{
    text-align: center;
    width: 70vw;
  }
  .image_container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and(max-width:800px){
  .info #para{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px ;

  }
  
  .offer_info h1{
    font-size: 20px;
  }
}
@media screen and (max-width:750px) {
  .features{
    display: flex;
    flex-direction: column;
  }
}